/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
        background-color: transparent;
        outline: none;
        border-color: transparent;
    }

    body {
        background-color: rgb(229, 229, 229);
    }
}
